body{
font-family: 'Lato', sans-serif;
}


.head_sec{
color: white;

}   
.para_sec{
color: white;
font-size:12px;

}
.logo{
height:100px;
width: 100px;
padding-bottom: 10px;
}
.head_uttha{
color:black ;

}
.hot{
background-color: red;
color: white;
margin-left: 8px;
border-radius: 5px;
padding: 5px;
font-size: 25px;
}
.rate{
background-color:gray;
color: white;
margin-left: 8px;
border-radius: 15px;
padding: 5px;
font-size: 25px;
} 
.para_uttha{
color:rgb(104, 100, 100);
font-size:12px;

}               
.para_smack{
color:black;
font-size:1.5rem;
padding-left: 92px;

} 
.middle{
    margin-top: 50px;
    padding-left: 144px;
    padding-right: 35px;
    padding-top: 17px;
    width: 92%;
    margin-bottom: 50px;

} 
.row{
    padding-left: 160px;
}
.container{
padding-top: 20px;

}
.head{
background-color:rgb(78, 6, 194)!important;
margin-top: 30px;
}

.para_promotion{
color:black;
font-size:1.5rem;

}
.head_week{
color:black ;

}
.New{
background-color: red;
color: white;
border-radius: 5px;
font-size: 25px;
padding: 3px;   
}

.para_week{
color:rgb(104, 100, 100);
font-size:12px;

}
.bft{
height:120px;
width: 120px;
padding-bottom: 10px;
float: right;
}   
.ownr{
height:100px;
width: 100px;
float: left;
border: 1px solid grey;
margin-top: 30px;
margin-right: 20px;
} 
.para_bottom{
color:rgb(104, 100, 100);
font-size:12px;

}
.booking{
background-color: #D5BBF1;
border-top: solid 4px  blueviolet;
width: 100%;    
}
.Table_cap{
font-size:18px;

}
.Table{
margin-left: 20px;
display: inline-block 

}
.Nonsmoke{
display: inline-block; 
}
.Can_res{
margin-left: 90px;
}

#option1{
background-color: red;
}
.Serial{
padding-left: 15px;
}
.Tablehead{
font-size:22px;
background-color:  blueviolet;
padding-top: 10px;
padding-bottom: 10px;
color: white;
padding-left: 10px;
}
.modal-header{
background-color:  rgb(138, 43, 226);
color: white;
}
.tip:hover +.book_table{
display: block;

}
.book_table{
display: none;
font-size:20px;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
position: absolute;
right: -10px;
top: 2px;
border-radius:15px;
padding: 5px;
}
#mycarousel{
    background-color: rgb(171, 171, 236);
    width: 85%;
}
.top{
    margin-top: 50px;
    padding-left: 144px;
    padding-right: 35px;
    padding-top: 17px;
    width: 92%;
    margin-bottom: 50px;
}

.car_logo{
height:200px;
width: 200px;
float: left;
border: 1px solid grey;
margin-right: 20px;
}
.para_car{
color:rgb(15, 15, 15);
font-size:16px;
text-align: center;
}
.head_car{
text-align: center;
color:rgb(15, 15, 15);
padding-top: 25px;

}

.symb{
font-size: 30px;
background-color: #adff2f;
border: solid #1d1c1c 2px;
}
.footer{
font-weight: bold;
font-size: 12px;
padding-left:80px;
padding-top: 18px;
background-color: rgb(102, 46, 194);
}
.logo-start{
    margin-top:8px;
}
.item-devlop{
color: rgba(236, 3, 3, 0.603);
}
.social-links{
float: right;
padding-top: 35px;
}
.item-devlop{
color: rgba(236, 3, 3, 0.603);
}

.dropdown .dropdown-menu{
background-color: #007bff!important;
}
.dropdown-menu .dropdown-item{
color: rgb(247, 252, 247);

}
.header-special{
color: rgb(148, 137, 16);
margin-left: 20px;
}
.footer-link{
    display: flex;
    color: rgba(112, 160, 216, 0.849);
}
.social-links{
    font-size: 36px;
    color: black;
}
.navbar{
    height: 50px;
    display: block;
}
#navbarSupportedContent{
    margin-top: -30px;
    padding: 131px;
}
.edge{
    padding-left: 163px;
    padding-right: 100px;
}
.head_visit{
    padding-top: 50px;
    padding-left: 30px;
}
.item-copyright{
    width: 200%;
    padding-left: 140px;
}